{% extends 'base.html'%}
    {% block content %}
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    
                    <th> MOVIE NAME </th>
                    <th> GENRE </th>     
                    <th> NO OF DVDS AVAILABLE </th>
                    <th> RENTAL RATE PER DAY </th>
                    
                </tr>
            </thead>
            <tbody>
                {% for movie in movi %}
                    <tr>
                        
                        <td> <a href="/movies/{{ movie.id }}">{{ movie.name}}</a> </td>                        
                        <td>{{movie.genre}} </td>
                        <td>{{movie.no_of_dvd_for_rent }} </td>       
                        <td> {{ movie.rental_rate_per_day}} </td>
                    
                    </tr>

                {% endfor %}
                
            </tbody>
        </table>
    {% endblock %}